.picture {
    background-color: #F9F9F9;
    border: 1px solid #CCCCCC;
    padding: 3px;
    text-align: center;
    margin: 0 0 18px 0;
    width: 647px;
    color: #000;
}

.picture img {
    border: 1px solid #CCCCCC;
    vertical-align: middle;
    margin-bottom: 3px;
}

/* Style the tabcontainer */
.tabcontainer {
    border: 1px solid #ccc;
}

/* Style the tab */
.tab {
    /* clear the side effect of float(tabbutton) */ 
    overflow: hidden;
    background-color: #f1f1f1;
}

/* Style the tab button */
.tabbutton {
    cursor: pointer;
    float: left;
    background-color: inherit;
    font-size: 17px;
    border: none;
    outline: none;
    padding: 12px 20px;
    transition: 0.3s;
}

/* Change the color of button when horver */
.tabbutton:hover {
    background-color: #ddd;
}

/* Change the color of the button when active */
.active {
    background-color: #ccc;
}

/* Style the tabcontent */
.tabcontent {
    display: "none";
    background-color: white;
    border-top: 1px solid #ccc;
    color: black;
    padding: 2px 12px;
}